@keyframes clip-link-anim {
    65% {
        transform: translateY(+200%) translateX(-50%);
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.main-home {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
}

.clip-link-section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    height: 100vh;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-inline: 40px;
    height: 500px;
    /* position: fixed; */
    border: 15px double rgb(107, 107, 107);
    z-index: 9;
    background-color:rgba(0, 0, 0, 0.6);
    padding: min(20px);
    opacity: 0;
    animation: clip-link-anim 3s  ease-out forwards;
    overflow: hidden;
}

.clip-link-section h1 {
    color: white;
    font-size: 3.5lvw;
    margin-top: 0;
    font-family: 'Playfair Display SC', serif;
}

.clip-link-section img {
    width: 100%;
}

.eyeLinkIcon  {
    color: lime;
    height: 40%;
    opacity: 0.7;
    position: absolute;
    left: 35%;
    top: 34%;
}

.eye-mini-div {
    max-width: 300px;
    border: 3px solid  rgb(107, 107, 107);
    position: relative;
}