@keyframes opacity {
    0% {
        opacity: 0;
        width: 50%;
        transform: translateY(+140%);

    }
    15% {
        opacity: 0;
        transform: translateY(+140%);
        
    }
    25% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
        /* transform: translate(-50%, -50%); */
        transform: translateY(0%);
    }
    70% {
        width: 50%;
        transform: scale(1.1); 
    }
    74% {
        transform: scale(1);
    }
    
    100% {
        transform: translateY(-450px);
    }

}

.logo-loader-div {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    height: auto;
}

.logo-loader-div img {
    width: 8%;
    /* width: 50%; */
    z-index: 10;
    transform-origin: center;
    animation: opacity 5.5s  normal ease-in-out forwards  ;

    
}

