.mainDisplay {
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7904411764705882) 33%, rgba(46, 46, 46, 0.466) 60%, rgba(87,255,0,0.571953781512605) 100%), url('../assets/FondTexturéAlbum.png');   
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding-inline: 5%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

.mainDisplay h1 {
    font-family: 'Poiret One', cursive;
    font-size: 60px;
}

.mainContentDiv {
    display: flex;
    flex-direction: column;
    border: 10px double grey ;
    background-color: rgba(0,0,0,0.7);
    padding-inline: 20px;
    margin: 20px auto 5px auto;
    align-items: center;
}

.upcomingShows, .bioSection {
    width: 70%;
}

.upcomingShows ul {
    width: 100%;
}

.dateRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 90px;
    align-content: center;
    gap: 10%;
    font-size: 20px;
}

.dateRow span {
    height: 100%;
}

.mainContentDiv a {
    color: white;
    text-decoration: none;
}

.mainContentDiv a:hover {
    color: lime;
}

.mainContentDiv a, .event-to-come {
    font-size: 16px;
}